* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background: #0a1f44;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.header {
    background: #0a1f44;
    color: white;
    text-align: center;
    padding: 50px;
}

.section {
    padding: 40px;
    text-align: center;

}

/*.about-section { 
    padding: 60px 20px;
    text-align: center;
}*/



.about-section p {
    max-width: 1000px;
    margin: 25px auto;
    line-height: 1.8;
    font-size: 18px;
}

.award-title {
    margin-top: 40px;
    text-align: center;
    
}

.awards-list {
    list-style: none;          /* remove bullets */
    padding: 0;
    margin: 20px auto;
    text-align: center;
            /* center text */
}

.awards-list li {
    margin: 12px 0;
    font-size: 16px;
}
.bg-light {
    background: #f4f6fc;
}

.skills-list span {
    display: inline-block;
    background: #0a1f44;
    color: white;
    padding: 10px 15px;
    margin: 8px;
    border-radius: 5px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    margin: 15px 0;
}

.project-card {
    border: 2px solid #0a1f44;
    padding: 15px;
    margin: 15px auto;
    width: 300px;
}

.project-card img {
    width: 100%;
}

.btn {
    background: #0a1f44;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.btn {
    display: inline-block;   /* VERY IMPORTANT */
    margin-top: 15px;        /* creates space from text */
}

.footer {
    background: #0a1f44;
    color: white;
    text-align: center;
    padding: 15px;
}